<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="ConnectionString" value="Data Source=.;Initial Catalog=ProductApp;Integrated Security=True;Encrypt=False"/>

		<add key="DB_ADDRESS" value="." />
		<add key="DB_NAME" value="74AA1ACE95A2A98B59E177A116F046BC" />
		<add key="DB_USERNAME" value="078A8050276AE46571F9E7A961930068" />
		<add key="DB_PASS" value="BE7CE0BFD39C32F8E6D941003333F3240BC8E2A77F214372239C324B90F9BB4D" />
	</appSettings>

</configuration>